/* Estilos gerais do site */
body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #f39c12;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.project-name {
    color: #f39c12;
    font-style: italic;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.module {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Adicione estilos específicos para cada módulo conforme necessário. */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-nav ul li {
    margin: 0 20px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: white;
}

.quote {
    font-family: 'GFS Didot', serif;
}
